
@media (max-width: 1024px) {
    h1 {
    font-size: 4vh;
    transform: translateY(50%);
    }
   
    
    h2 {
        color: red;
    
    }

} 


@media (max-width: 768px) {
    
    figure {
        position: relative;
        
    }
    .caixa {
        height: 30%;
        
    }
    
   

    figcaption {
        width: 90%;
        height: 52%;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        
        margin: auto;
        padding: 1vh;
    }
    figcaption p {
        color: wheat;
        font-size: 3vh;
        width: 100%;
        
        margin: auto;
        text-align:left;
        
    }
 
    .main1 {
      
        height: 100%;
        width: 100%;
        bottom: 0%;
      
    }

    .foto {
        display: none;
    }
    .foto1 {
        display: block;
        width: 100%;
        height: 43%;
        margin: auto;
        right: 0%;
        top: 0%;
        margin-top: 1vh;
        /*
        bottom: 50%;
        transform: translateY(50%);
        */
        object-fit: cover;
        object-position: 50%;
    }
    
   
   

    h2 {
        color: red;
        font-size: 5vh;
        

    }

}

@media (max-width: 425px) {
    
    main {
      height: 124vh;
    }

}


/*

@media (max-width: 740px) { 
    figcaption p {
        color: wheat;
        font-size: 2vh;
        text-align: center;
    }
      
        h1 {
            font-size: 3vh;
            transform: translateY(0%);
        }
        figcaption {
            width: 50%;
            height: 81%;
          outline: 1px solid wheat;
        }   
        figcaption p {
            font-size: 90%;
        }
        
        
}


@media (max-width: 412px) {
    
    

      main {
        height: 90vh;
      }
}



@media (max-width: 320px) { 
    
    h1 {
    font-size: 2.5vh;
    }

}

*/
