* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}


nav {
    background: maroon;
    width: 50%;
    transform: translateX(50%);
    height: 100%;
}

nav li {
    list-style: none;
    display: inline;
}

nav li a{
    text-decoration: none;
    color: wheat; 
}
nav li a:hover{
    color: red; 
}



header {
    width: 100%;
    position: relative;
    /*outline: 5px solid maroon; */
}
h2 {
    font-size: 5vh;
    color: red;
   
}


main {
    width: 100%;
    height: 90vh;
    /*outline: 1px solid wheat;  */
    position: relative;
    background: rgb(0, 0, 0);
}

.main1 {
    background: black;
    bottom: 15%;
    /*outline: 5px solid wheat;*/
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 70%;
    position: absolute;
}


.foto {
    width: 50%;
    height: 90%;
    position: absolute;
    right: 0%;
    border-radius: 20px;
    object-fit: cover;
    
}

.foto1 {
    display: none;
}


figure {
    width: 100%;
    height: 100%;
    position: relative;
  
}
figcaption {
    width: 50%;
    height: 60%;
    overflow: hidden;
    
   /* outline: 1px solid magenta;*/
   /*
    bottom: 50%;
    transform: translateY(50%);
    */
    position: absolute;
    left: 0%;
    text-align: left;
}

figcaption p {
    
    width: 90%;
    height: 100%;
    color: wheat;
    font-size: 3vh;
    text-align: justify;
    
}





.trailer{
    width: 100%;
    height: 120vh;
    
    position: relative;
    background: rgb(22, 22, 22);
    text-align: center;
}

.caixa {
    /*
    width: 40%;
    */
    
    min-width: 320px;
    max-width: 800px;
    height: 45%;
    margin: auto;
    position: relative;
   /*outline: 1px solid white;*/
    background: rgb(22, 22, 22);
   
}

.logo {
   margin-left: 50%;
   transform: translateX(-50%);
   width: 50%;
   display: block;
 
    
    height: 100%;
    object-fit: contain;
}
    

.conteudo {
   /* outline: 1px solid white;*/
    min-width: 320px;
    max-width: 500px;
    min-height: 320px;
    max-height: 800px;
    
    position: relative;
    margin: auto;
    border-radius: 10px;
    object-fit: contain;
   overflow: hidden; 
}
.imagem {
    width: 100% ;
    min-height: 320px;
    max-height: 800px;
    border-radius: 20px;
    object-fit: cover;
    transition-duration: 1s;
    position: initial;
}
.imagem1 {
    width: 100% ;
    height: 100%;
    object-fit: cover;
    transition: 1s;

}
.video {
    /*outline: 2px solid purple; */
    transition: 0.6s;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  
}
.teee {
    width: 20vh;
    height: 20vh;
}
/*
.imagem:hover {
    width: 40%;
    border-radius: 100%;
}
*/

.botao {
    width: 90px;
    height: 100%;
    position: absolute;
   /* outline: 1px solid wheat;*/
     left: 50%;
     transform: translateX(-50%);
      text-align: left;
}
.botao1 {
    width: 100%;
    height: 86px;
    object-fit: cover;
    border-radius: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
      
}




/*
.trailer {
    width: 100%;
    height: 120vh;
    outline: 1px solid black;
    position: relative;
}

.logo {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 0%;
    
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.video {
    width: 40%;
    height: 40%;
    object-fit: contain;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    color: red;
    font-size: 4vh;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
*/



